<div class="container mt-4">
  <h2>Lista de URLs</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>URL</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let urlObj of urls; let i = index">
        <td>
          <span *ngIf="editIndex !== i">{{ urlObj.url }}</span>
          <input *ngIf="editIndex === i" type="text" class="form-control" [(ngModel)]="editedUrl">
        </td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="toggleEdit(i)">
            {{ editIndex === i ? 'Guardar' : 'Editar' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
