<header>
    <h1>Language Model Games</h1>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid d-flex justify-content-start gap-4">
            <a class="navbar-brand" href="/home">Página principal</a>
            <!-- <a class="navbar-brand" href="/configUrl">Configurar Url</a> -->
            <a class="navbar-brand" href="/gamesList">Juegos</a>
            <a class="navbar-brand" href="/modelsList">Modelos</a>
            <a class="navbar-brand" href="/admin_game">Jugar</a>
            <a class="navbar-brand" >Acerca de</a>
        </div>
    </nav>
</header>
<router-outlet><router-outlet/>
